<%= page_header("Läufe") %>

<ul class="list-group">
  <% @runs.each do |run| %>
      <li class="list-group-item">
        <%= link_to run.name, run.relay? ? new_event_run_relay_path(@event, run) : new_event_run_registration_path(@event, run) %>
      </li>
  <% end %>
</ul>

<%= link_to 'Lauf hinzufügen', new_event_run_path(@event), class: "btn btn-primary" %>