<%= render "shared/header" %>

<p>Für welchen Lauf soll eine Anmeldungen erstellt werden?</p><br />
<div class="list-group col-sm-4">
  <% @runs.each do |run| %>
  	<%= link_to run.name, run.relay? ? new_event_run_relay_path(@event, run) : new_event_run_enrollment_path(@event, run), class: "list-group-item" %>
  <% end %>
<br/>	
<%= link_to "Abbrechen", event_path(@event), class: "btn btn-danger" %>
</div>