<% content_for :topic_nav do %>
	<%= link_to 'Löschen', event_run_relay_path(@event, @run, @relay), class: "btn btn-danger pull-right", method: :delete, data: { confirm: 'Möchten Sie diese Staffelanmeldung wirklich löschen?' } %>
<% end %>

<%= render "shared/header" %>

<div class="row">
	<%= render 'form' %>
</div>
