<%= render "shared/header" %>

<div class="list-group col-sm-4">
  <% @runs.each do |run| %>
  	<%= link_to run.name, edit_event_run_path(@event, run), class: "list-group-item" %>
  <% end %>
<br/>	
<% if @runs.empty? %>
	<%= link_to 'L채ufe aus Vorjahr kopieren', copy_runs_event_path(@event), class: "btn btn-success", data: { confirm: 'L채ufe aus dem Vorjahr wirklich kopieren und einf체gen?' }if @runs.empty? %>
	<br/><br/>
<% end %>
<%= link_to 'Lauf hinzuf체gen', new_event_run_path(@event), class: "btn btn-primary" %>
</div>
